<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>

<h1><%= message || 'Something went wrong!' %></h1>
<h2>Status: <%= error?.status || 500 %></h2>
<pre><%= error?.stack || 'No stack trace available.' %></pre>

<%- include Partials/footer.ejs%>