<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>

<!--Main Content-->
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<img src="/Assets/images/teamlogo.png" alt="logo" width="200">

<%- include Partials/footer.ejs%>